/* Reset */
*{margin: 0; padding: 0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}


#wrapper{
	width: 300px;
	height: 600px;
	background: #ffffff;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: 10;
	cursor: pointer;
}

img,div{position: absolute; top:0;
left:0}

#bg{
  z-index: 1;
  opacity: 1;
}

#cta{
  z-index: 15;
  opacity: 0;
}

#light_star{
  z-index: 1010;
}

#pack{
	z-index: 12;
  opacity: 1;
}

#teeth01{
	z-index: 13;
  opacity: 1;
	width: 105px;
	height: 155px;
	left: 168px;
	top: 338px;
}

#teeth02{
	z-index: 13;
  opacity: 0;
	width: 105px;
	height: 155px;
	left: 168px;
	top: 338px;
}

.tx{
  z-index: 15;
  opacity: 0;
}

#light_line01, #light_line02,#light_line03,#light_line04,#light_line05,#light_line06{
	position: absolute;
	opacity: 1;
}

#light_line01,#light_line04{
	z-index: 1000;
}

#light_line02,#light_line05{
	z-index: 990;
}

#light_line03,#light_line06{
	z-index: 980;
	filter: blur(4px);
}

body {
font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;  font-stretch:condensed;
}

button {
    background-color: #0068FF;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
}

body {
    margin: 0px;
}
div, img{position:absolute}

#ad {
    display: block;
    overflow: hidden;
    width: 300px;
    height: 600px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#btn{width:300px; height:600px; background:white; opacity:0; z-index:16;}

#banner {
    display: block;
    width: 300px;
    height: 600px;
    background-color: #FFF;
    overflow: hidden;
}

.buttons {
    position: absolute;
    left: 0px;
    top: 0px;
		z-index: 20;
}
