#b1{
opacity: 1;
z-index: 10;
left: -2px;
top: 574px;
animation-name: shake01;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b2{
opacity: 1;
z-index: 10;
left: 113px;
top: 367px;
animation-name: shake03;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b3{
opacity: 1;
z-index: 10;
left: 130px;
top: 195px;
animation-name: shake01;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b4{
opacity: 1;
z-index: 10;
left: 12px;
top: 61px;
animation-name: shake03;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b5{
opacity: 1;
z-index: 10;
left: 110px;
top: 73px;
animation-name: shake01;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b6{
opacity: 1;
z-index: 10;
left: 213px;
top: 286px;
animation-name: shake02;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b7{
opacity: 1;
z-index: 10;
left: -2px;
top: 201px;
animation-name: shake03;
animation-duration: 0.81s;
animation-iteration-count: 4;
}


#b8{
opacity: 1;
z-index: 10;
left: 109px;
top: -2px;
animation-name: shake02;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b9{
opacity: 1;
z-index: 10;
left: 279px;
top: 498px;
animation-name: shake01;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b10{
opacity: 1;
z-index: 10;
left: 3px;
top: 265px;
animation-name: shake03;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b11{
opacity: 1;
z-index: 10;
left: 113px;
top: 454px;
animation-name: shake01;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b12{
opacity: 1;
z-index: 10;
left: 75px;
top: 571px;
animation-name: shake02;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b13{
opacity: 1;
z-index: 10;
left: 194px;
top: 358px;
animation-name: shake03;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b14{
opacity: 1;
z-index: 10;
left: 8px;
top: 386px;
animation-name: shake02;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b15{
opacity: 1;
z-index: 10;
left: 191px;
top: 62px;
animation-name: shake01;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b16{
opacity: 1;
z-index: 10;
left: 208px;
top: 452px;
animation-name: shake02;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b17{
opacity: 1;
z-index: 10;
left: 283px;
top: 356px;
animation-name: shake03;
animation-duration: 0.81s;
animation-iteration-count: 4;
}


#b18{
opacity: 1;
z-index: 10;
left: 238px;
top: 581px;
animation-name: shake02;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b19{
opacity: 1;
z-index: 10;
left: 232px;
top: 13px;
animation-name: shake01;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b20{
opacity: 1;
z-index: 10;
left: 274px;
top: 101px;
animation-name: shake03;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b21{
opacity: 1;
z-index: 10;
left: 61px;
top: 187px;
animation-name: shake01;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b22{
opacity: 1;
z-index: 10;
left: 111px;
top: 274px;
animation-name: shake02;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b23{
opacity: 1;
z-index: 10;
left: 240px;
top: 236px;
animation-name: shake03;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b24{
opacity: 1;
z-index: 10;
left: 70px;
top: 130px;
animation-name: shake02;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b25{
opacity: 1;
z-index: 10;
left: 167px;
top: 404px;
animation-name: shake01;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b26{
opacity: 1;
z-index: 10;
left: 27px;
top: 484px;
animation-name: shake02;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b27{
opacity: 1;
z-index: 10;
left: 283px;
top: 286px;
animation-name: shake03;
animation-duration: 0.81s;
animation-iteration-count: 4;
}


#b28{
opacity: 1;
z-index: 10;
left: 265px;
top: 432px;
animation-name: shake02;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b29{
opacity: 1;
z-index: 10;
left: 205px;
top: 522px;
animation-name: shake01;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b30{
opacity: 1;
z-index: 10;
left: 176px;
top: 234px;
animation-name: shake03;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b31{
opacity: 1;
z-index: 10;
left: 51px;
top: 32px;
animation-name: shake01;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b32{
opacity: 1;
z-index: 10;
left: 154px;
top: 151px;
animation-name: shake03;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b33{
opacity: 1;
z-index: 10;
left: -2px;
top: 140px;
animation-name: shake01;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b34{
opacity: 1;
z-index: 10;
left: -2px;
top: -2px;
animation-name: shake03;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b35{
opacity: 1;
z-index: 10;
left: 200px;
top: 165px;
animation-name: shake01;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b36{
opacity: 1;
z-index: 10;
left: 63px;
top: 323px;
animation-name: shake02;
animation-duration: 0.81s;
animation-iteration-count: 4;
}

#b37{
opacity: 1;
z-index: 10;
left: 274px;
top: 176px;
animation-name: shake03;
animation-duration: 0.81s;
animation-iteration-count: 4;
}


@keyframes shake01 {
0% { transform: rotate(0deg); }
10% { transform: rotate(-1deg); }
20% { transform: rotate(1deg); }
30% { transform: rotate(0deg); }
40% { transform: rotate(1deg); }
50% { transform: rotate(-1deg); }
60% { transform: rotate(0deg); }
70% { transform: rotate(-1deg); }
80% { transform: rotate(1deg); }
90% { transform: rotate(0deg); }
100% { transform: rotate(-1deg); }
}

@keyframes shake02 {
0% { transform: rotate(-1deg); }
10% { transform: rotate(0deg); }
20% { transform: rotate(1deg); }
30% { transform: rotate(-1deg); }
40% { transform: rotate(0deg); }
50% { transform: rotate(-1deg); }
60% { transform: rotate(1deg); }
70% { transform: rotate(0deg); }
80% { transform: rotate(1deg); }
90% { transform: rotate(-1deg); }
100% { transform: rotate(0deg); }
}

@keyframes shake03 {
0% { transform: rotate(-1deg); }
10% { transform: rotate(1deg); }
20% { transform: rotate(0deg); }
30% { transform: rotate(1deg); }
40% { transform: rotate(-1deg); }
50% { transform: rotate(0deg); }
60% { transform: rotate(-1deg); }
70% { transform: rotate(0deg); }
80% { transform: rotate(1deg); }
90% { transform: rotate(-1deg); }
100% { transform: rotate(0deg); }
}
